/* MISCELLANEOUS */



/* NAVIGATION */

div#nav .nav-link{
    color: #000000;
}
nav#navbar{
    height: 100px;
}

/* CONTENT */
#carousel {
    margin: 10px 10px 10px 10px;
    background-color: #696969;
    align-content: center;
}
#carousel img{
    align-self: center;
}
h1, p {
    padding: 10px 5px 10px 15px !important;
    margin: 5px 2px 5px 2px !important;
}

/* FOOTER */

div#footer{
    color: #ffffff;
    background-color: #000000;
    padding: 10px 10px 20px 10px;
    height: 200px;
    width: 100%;
}